<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="JobAutoInternalAudit.Properties.Settings.WolfApproveCore_tym_ypmtConnectionString"
      connectionString="Data Source=DESKTOP-MTFBHTV\SQLEXPRESS;Initial Catalog=WolfApproveCore.ypmt-prd;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="dbConnectionStringWolf" value="data source=DESKTOP-MTFBHTV\SQLEXPRESS;initial catalog=WolfApproveCore.ypmt-prd;persist security info=True;user id=sa;password=pass@word1;" />
    <add key="BaseAPI" value="http://devapi2tym.wolfapprove.com//" />
    <add key="LogFile" value="C:\job_yamaha\JobAutoInternalAudit\log\" />
    <add key="memoid" value="" />
    <add key="runcatch" value="F" />
	<add key="IntervalTimeMinute" value="-12" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>